html {

  scroll-padding-top: 168px;
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  border-width: 0;
  z-index: 1;

}

h1{
  text-align: center;
  font-size: 100%;
}

table{
  border-collapse: collapse;
  grid-row-gap: 0;
}



div {
  padding: 0;
  margin: 0;
  border-width: 0;
  background-color: none;
}



a:link{
  color: inherit;
  text-decoration: none;
}

@font-face {
  src: url("fonts/cartoon.ttf");
  font-family: "cartoon";
}

@font-face {
  src: url("fonts/Broadcast.ttf");
  font-family: "broadcast";
}

@font-face {
  src: url("fonts/Motion.ttf");
  font-family: "motion";
}
/*

/*-----logo and company name bar-----*/
.logo01{
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  background-color: darkblue;
  padding: 0;
  margin: 0;
  border-width: 0;
  position: fixed;
  top: 0px;
  z-index: 12;
  
}

.logo02{
  box-sizing: border-box;
  width: 5%;
  height: 60px;
  background-color: none;
  position: fixed;
  top: 0;
  z-index: 13;
}

.logo02 img{
  
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2px;
  left: 2px;
}

.logo03{
  box-sizing: border-box;
  width: 60%;
  height: 60px;
  background-color: none;
  position: fixed;
  top: 0;
  z-index: 13;
  color: lightblue;
  display: flex;
  left: -5px;
  padding: 0;
 
}



.logo03 h1{
text-align: left;
font-size: 18px;
font-family: cartoon;

}

.logo04{
  box-sizing: border-box;
  width: 20%;
  height: 60px;
  background-color: none;
  position: fixed;
  top: 0;
  left: 62%;
  z-index: 13;
  color: none;
  display: flex;
  justify-content: center;
  align-items: center;
}



.logo05{
  box-sizing: border-box;
  width: 10%;
  height: 60px;
  background-color: none;
  position: fixed;
  top: 0;
  left: 90%;
  z-index: 13;
  color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;

}



/*-----End of logo and company name bar-----*/



/*-----Menu Bar-----*/
.menu1{
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  background-color: darkgreen;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 60px;
  z-index: 11;
  font-size: 10px;

}

.submenu{
  box-sizing: border-box;
  width: 100%;
 
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 93px;
  z-index: 10;
  
}

.submenu1{
   box-sizing: border-box;
  width: 15.66%;
  height: 45px;
  box-shadow: inset 2px 2px 2px 2px rgba(0,0,0,0.2),
              inset -2px -2px 2px 2px rgba(0,0,0,0.2);
  padding: ; 
  border-radius: 2% 2% 2% 2%; 
  background-color: whitesmoke; 
  position: relative;
  top: 0;
  float: left;
  margin: 0.5%;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: motion;
  font-size: 15px;
}


/*-----End of Menu bar-----*/

.bodycontent{
  box-sizing: border-box;
    width: 100%;
    height: auto;
    position: absolute;
    top: 143px;
    z-index: 1;
}


/*-----Generel Gallery-----*/
.gallery1{
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0px;
    z-index: 1;
    
}

@keyframes gallery2{
    0%{background-image: url(img02.jpeg);}
    20%{background-image: url(img03.jpg);}
    40%{background-image: url(img04.jpg);}
    60%{background-image: url(img05.jpg);}
    80%{background-image: url(img13.jpg);}
    100%{background-image: url(img14.jpg);}
}
.gallery2{
    width: 100%;
    min-height: 200px;
    animation-name: gallery2;
    animation-duration: 20s;
    animation-timing-function: cubic-bezier(0.0, 0.0, 1.0, 1.0);
    animation-iteration-count: infinite;
    float: left;
    box-shadow: inset 10px 10px 5px rgba(0, 0, 0, 1.0),inset -10px -10px 5px rgba(0, 0, 0, 1.0);
    
}

@keyframes gallery3{
    0%{background-image: url(img06.jpg);}
    20%{background-image: url(img07.jpg);}
    40%{background-image: url(img08.jpg);}
    60%{background-image: url(img09.jpg);}
    80%{background-image: url(img10.jpg);}
    100%{background-image: url(img15.jpg);}
}
.gallery3{
    width: 100%;
    min-height: 200px;
    animation-name: gallery3;
    animation-duration: 20s;
    animation-timing-function: cubic-bezier(0.0, 0.0, 1.0, 1.0);
    animation-iteration-count: infinite;
    float: right; 
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 1.0),inset -5px -5px 5px rgba(0, 0, 0, 1.0);
    
}



/*-----End of Generel Gallery-----*/

.page{
  position: relative;
  top: 410px;
  height: auto;
}

/*-----Breakfast-----*/

.breakfast1{
  box-sizing: border-box;
  position: absolute;
  width: 99%;
  top: 0;
  margin: 0.5%;
  height: 475px;
  z-index: 8;
}

.breakfast2{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 1%;
  top: 0;
  height: 470px;
  background-color: #0a529b;
  z-index: 8;
}



.header{
  box-sizing: border-box;
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 40px;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding-left: 15px;

}

.header a{
  position: absolute;
  right: 15px;
  justify-content: right;
  color: yellow;
  font-size: 15px;
}

.content1{
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 40px;
  padding: 0.25%;
  left: 0;
  height: 430px;
}

.breakfast2 .content1{
  background-color: #76b1ed;
  border: 2px solid #2a67f0;
}
/*.content2{
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  background-color: aqua;
  padding: 1%;
  top: 0px;
  left: 0;
  height: 250px;
}*/

.item1{
  box-sizing: border-box;
  width: 32%;
  margin: .66%;
  position: relative;
  top: 0px;
  left: 0;
  height: 200px;
  float: left;
  border-radius: 5%;
  z-index: 1;
}

.breakfast2 .item1{
  background-color: #4f7fed;
  color: darkblue;
  box-shadow: inset 4px 4px 4px 1px #2a67f0,inset -4px -4px 4px 1px #2a67f0;
}

.image{
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 200px;
  padding: 2%;
  top: 0;
  left: 0;
}


.image img{
  border-radius: 4%;
  height: 185px;
}

.name{
  box-sizing: border-box;
  position: absolute;
  display: flex;
  width: 100%;
  top: 50px;
  left: 0;
  height: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.list{
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 70px;
  left: 0;
  border: 0;
  height: 65px;
}

.item1 .name{
  display: none;
}

.item1 ul{
  display: none;
}

.item1 .image h2{
  display: none;
}

.item1:hover{
  box-sizing: border-box;
  transform: scale(1.1);
  z-index: 2;
  height: 200px;
  
}

.item1:hover .list h1{
  display: none;

}

.item1:hover .list ul{
  display: inherit;
  list-style-type: circle;
  
 
}
.item1:hover .name{
  display: inherit;
}
.item1:hover .image img{
  z-index: 2;
  opacity: 50%;
}

/*
.item1:hover .image h2{
  display: flex;
  color: orange;
  font-size: 30px;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 1px blue;
  top: 3px;
  z-index: 3;
}
*/
/*-----End of Breakfast-----*/


/*-----Lunch-----*/
.lunch1{
  box-sizing: border-box;
  position: absolute;
  width: 99%;
  top: 500px;
  margin: 0.5%;
  height: 260px;
  background-color: yellow;
  z-index: 7;
}

.lunch2{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 1%;
  top: 0;
  height: 260px;
  background-color: green;
  z-index: 6;
}

.lunch2 .content1{
  background-color: #84D2C5;
  border: 2px solid green;
}
.lunch2 .item1{
  background-color: yellowgreen;
  color: darkblue;
  box-shadow: inset 4px 4px 4px 1px green,inset -4px -4px 4px 1px green;
}

/*-----End of Lunch-----*/




/*-----Dinner-----*/
.dinner1{
  box-sizing: border-box;
  position: absolute;
  width: 99%;
  top: 1000px;
  margin: 0.5%;
  height: 260px;
  background-color: #f1691e;
  z-index: 5;
}

.dinner2{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 1%;
  top: 0;
  height: 260px;
  background-color: #f1691e;
  z-index: 5;
}

.dinner2 .content1{
  background-color: #efc34b;
  border: 2px solid #f1691e;
}
.dinner2 .item1{
  background-color: #f19931;
  color: darkblue;
  box-shadow: inset 4px 4px 4px 1px #f1691e,inset -4px -4px 4px 1px #f1691e;
}
/*-----End of Dinner-----*/





/*-----Coffe, Tea and Beverages-----*/
.beverage1{
  box-sizing: border-box;
  position: absolute;
  width: 99%;
  top: 1500px;
  margin: 0.5%;
  height: 260px;
  background-color: #bfae1a;
  z-index: 4;
}

.beverage2{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 1%;
  top: 0;
  height: 260px;
  background-color: #bfae1a;
  z-index: 4;
}

.beverage2 .content1{
  background-color: #f0f174;
  border: 2px solid #bfae1a;
}
.beverage2 .item1{
  background-color: #f3e725;
  color: darkblue;
  box-shadow: inset 4px 4px 4px 1px #bfae1a,inset -4px -4px 4px 1px #bfae1a;
}
/*-----End of Coffe, Tea and Beverages-----*/



/*-----Dessert-----*/
.alcohol1{
  box-sizing: border-box;
  position: absolute;
  width: 99%;
  top: 2000px;
  margin: 0.5%;
  height: 260px;
  background-color: #9d040c;
  z-index: 3;
}

.alcohol2{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 1%;
  top: 0;
  height: 260px;
  background-color: #9d040c;
  z-index: 3;
}

.alcohol2 .content1{
  background-color: #e66690;
  border: 2px solid #9d040c;
}
.alcohol2 .item1{
  background-color: #d0484e;
  color: darkblue;
  box-shadow: inset 4px 4px 4px 1px #9d040c,inset -4px -4px 4px 1px #9d040c;
}
/*-----End of Dessert-----*/

/*-----Pastries and Bakery-----*/
.bakery1{
  box-sizing: border-box;
  position: absolute;
  width: 99%;
  top: 2500px;
  margin: 0.5%;
  height: 260px;
  background-color: #4e420c;
  z-index: 2;
}

.bakery2{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 1%;
  top: 0;
  height: 260px;
  background-color: #4e420c;
  z-index: 2;
}

.bakery2 .content1{
  background-color: #af920a;
  border: 2px solid #4e420c;
}
.bakery2 .item1{
  background-color: #7b680e;
  color: darkblue;
  box-shadow: inset 4px 4px 4px 1px #4e420c,inset -4px -4px 4px 1px #4e420c;
}
/*-----End of Pastries and Bakery-----*/

/*-----Start of Footer-----*/
.footer{
  box-sizing: border-box;
  position: absolute;
  width: 99%;
  top: 3400px;
  margin: 0.5%;
  height: 335px;
  background-color: darkblue;
  z-index: 2;
}

.fheader{
  box-sizing: border-box;
  position: absolute;
  width: 99%;
  top: 0;
  margin: 0.5%;
  height: 40px;
  background-color: yellowgreen;
  z-index: 2;
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}


.contact{
  box-sizing: border-box;
  position: relative;
  width: 32.3%;
  top: 50px;
  margin: 0.5%;
  height: 277px;
  background-color: green;
  z-index: 2;
  float: left;
  padding: 2%;
}

.location{
  box-sizing: border-box;
  position: relative;
  width: 32.3%;
  top: 50px;
  margin: 0.5%;
  height: 277px;
  background-color: yellow;
  z-index: 3;
  float: left ;
  padding: 2%;
}

.inquiry{
  box-sizing: border-box;
  position: relative;
  width: 32.3%;
  top: 50px;
  margin: 0.5%;
  height: 277px;
  background-color: orange;
  z-index: 2;
  float: left;
  padding: 2%;
}

.inquiry p{
  font-size: 10px;
}


.subtopic{
  position: relative;
  top: 0;
  display: flex;
  height: 20px;
 align-items: center;
 justify-content: center;
 font-size: 15px;
 font-weight: bolder;
}


.subcontent{
  position: relative;
  top: 5px;
  height: 310px;
}

.subcontent iframe{
  height: 90px;
}

.subcontent address{
  font-size: 15px;
  position: absolute;
  top: 120px;
}
/*-----End of Footer-----*/


/*-----------------Popup DIV------------*/
.page-detail {
 display: none;
  position: fixed;
  left: 0;
  top: 155px;
  width: 100%;
  height:auto;
  overflow: auto;
  background-color: lightblue;
  z-index: 3;
  
}


.page-detail:target {
  display: table;
  position: absolute;
}

.closebtn {
  text-decoration: none;
  float: right;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}

.closebtn:hover,
.closebtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container {
  position: absolute;
  top: 0;
  z-index: 1;
  background-color:transparent;
  height: 440px;
  width: 100%;
  overflow-y: scroll;
  overscroll-behavior: none;
  text-size-adjust: auto;

}


header {
  position: fixed;
  left: 12.3%;
  width: 73.8%;
  background-color: none;
  height: 50px;
  font-size: 15px;
  color: white;
  text-align: center;
  z-index: 2;
}

.page-detail table {
  border-bottom-width: 0;
  border-top-width: 0;
  border-color: darkblue;
  border-style: dashed;
  background-color: none;
  position: absolute;
  top: 50px;
  left: 12.5%;
  font-size: 10px;

}

.page-detail table td{
  border-left-width: 0;
  border-right-width: 0;
  border-color: darkblue;
  border-style: dashed;
  padding: 20px;

}

#id01 table{
background-color: lightBlue;
}
#id01 header{
background-color: Blue;
}

#id02 table{
background-color: lightgreen;
}
#id02 header{
background-color: Green;
}

#id03 table{
background-color: #EFC34B;
}
#id03 header{
background-color: #F1691E;
}

#id04 table{
background-color: #F0F174;
}
#id04 header{
background-color: #BFAE1A;
}

#id05 table{
background-color: #ea6e6e;
}
#id05 header{
background-color: darkred;
}

#id06 table{
background-color: #d89d3e;
}
#id06 header{
background-color: #66430c;
}